.parent{
    padding: 25px;
    background-color: #c6a3a3;
    display: flex;
    gap: 30px;
    /* justify-content: center; */
    justify-content: space-between;
    height: 350px;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}




.child{
    border: 2px solid rgb(59, 59, 146);
    background: #3cbfc4;
    padding: 20px;
    font-size: 15px; 
}
